/* 
================================================================================
 ////////        ///////                                                        
    /////          /////                                                        
    ////           ////                                                         
   /////           ////                                                         
   /////           ////                                                         
   /////          /////                                                         
   ////           /////                                                         
  /////           ////                                                          
  /////           ////                             ///                          
  ///// ////     /////     ///// ////     //////   //////////    ////     ///// 
  //// /   ///   /////   ////  / ////    ///   //// //  ////    /////   //   ///
 //////    ///   ////   ////    ////    ////   ////     ////    ////   ///   ///
 /////     ////  ////   ////    ////   /////   ////    /////    ////   ////  ///
 ////      //// /////  ////     ////   ////    ////    /////    ////   //////   
 ////     ///// ///// /////     ////   ////   /////    ////    /////   ///////  
/////     ///// ////  /////     ///    ////   ////     ////    ////     /////// 
/////     ////  ////  /////    ////    ////   ///      ////    ////       ///// 
////      //// /////  ////     ////  //   /////       /////   /////  ////  //// 
////     ////  /////  ////    /////  //               ////    /////  ////   /// 
////     ///   /////  ////    ////  /////////////     ////   ////// /////   /// 
 ///    ///    ////  / ///   / /// / /////////////    ////  /  /// /  //   ///  
  ///////       /////   /////   ///   ////////////     /////   ////    /////    
                                      ////////////                              
                                     //         //                              
                                    //          //                              
                                    //          /                               
                                    //         /                                
                                     //      //                                 
                                      ///////                                   
================================================================================
                              Lex Blagus, web systems architect <http://blag.us>
================================================================================
*/

/* =============================================================================
   Hero titles
============================================================================= */
main figure.hero figcaption.title .p1,
main figure.hero figcaption.title .p2{
}

@keyframes animationTitle {
	from {
		/*color:transparent;
		text-shadow:0px 0px 0px transparent;*/
		position:relative;
		top:-10em;
	}
	to {
		position:relative;
		top:0px;
		/*color:#fff;
		text-shadow:0px 0px 2px #000;*/
	}
}

main figure.hero figcaption.title .p1 {
	animation-name:animationTitle;
	animation-duration:1s;
}
main figure.hero figcaption.title .p2 {
	animation-name: animationTitle;
	animation-duration:2.5s;
}


/* =============================================================================
   Sliders
============================================================================= */
@keyframes animationSliderActivate {
	  0% { left:300%; }
	100% { left:0; }
}
main section.slider ol.slide-wrapper li.slide.active {
	animation-name:animationSliderActivate;
	animation-duration:0.5s;
}


@keyframes animationSliderInactivate {
	  0% { left:0; }
	100% { left:-300%; }
}
main section.slider ol.slide-wrapper li.slide.inactive {
	animation-name:animationSliderInactivate;
	animation-duration:0.5s;
}


/* =============================================================================
   Text within slider
============================================================================= */
@keyframes animationSliderActivateInner {
	  0% { top:-1000px; }
	100% { top:0px; }
}
main section.slider ol.slide-wrapper li.slide.active .slide-wrapper{
	animation-name:animationSliderActivateInner;
	animation-duration:0.5s;
}

@keyframes animationSliderInactivateInner {
	  0% { top:0px; }
	100% { top:-1000px; }
}
main section.slider ol.slide-wrapper li.slide.inactive .slide-wrapper{
	animation-name:animationSliderInactivateInner;
	animation-duration:0.5s;
}